.nosotros-perse p {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 1.2rem;
    line-height: 1.8;
    color: var(--color-separador);
    margin-bottom: 30px;
}

.nosotros-1 {
    margin-top: 2rem;
    width: 100%;
    }

.logo-contenedor-nosotros{
    margin-top: 2rem;
    margin-left: 25%;
    align-items: end;
    display: flex; 
    flex-wrap: wrap;
    }

.logo-img-nosotros{
    width: 10rem;
}

.titular-nosotros{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(87,27,45, 0.8); 
}

.parrafos-nosotros{
    font-size: 1.5rem;
    width: 60%;
    margin-left: 20%;
    color: rgba(87,27,45, 0.8);
    font-weight: bold;
}

.nosotros-2 {
    background-image: url(/02-Urugay-Tannat.png);
    margin-top: 2rem;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 10vw;
    padding: 1rem 1rem 15rem 0rem;
    max-width: 100%;
    font-size: 1.5rem;
    }

.contenedor-titulo{
    margin-top: 5rem;

    }

.contenedor-img-altura{
    width: 100%;
    height: 55rem;
    overflow: hidden;
    margin-bottom: 2rem;
    }

.img-altura-nosotros{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center 50%;
    }

.contenedor-parrafos-uvas{
    background-image: url(./uvas-tannat.jpg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 1rem;
    margin-top: 2rem;
    background-size: cover;
    background-position: center;
    height: 20vw;
    padding: 1rem 1rem 10rem 1rem;
    max-width: 100%;
    font-size: 1.5rem;
    color: var(--color-fondo);
    align-items: center;
    font-weight: bold;
    }

.parrafos-nosotros-uvas{
    font-size: 1rem;
    width: 100%;
    margin-left: 20%;
    color: var(--color-header);
    font-weight: bold;
}

.nosotros-4{
    background-color: #F6E5CF;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto ;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    font-weight: bold;
    }

.cont-p-triptico-nosotros{
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    justify-content: start;
    margin-right: 10rem;
    font-size: 1.5rem;
    width: 60%;
    color: rgba(87,27,45, 0.8);
    }
    
.cont-img-triptico-nosotros{
    display: flex;
    justify-content: end;
    margin-right: 1rem;
    }

.img-triptico-nosotros{
    width: 30rem;
    }

.nosotros-5{
    margin-top: 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }

.nosotros-5 img{
    width: 100%;
}