.productos-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2px;
    margin-top: 8px;
    width: 70rem;
    justify-self: center;
    padding: 1rem;
}

.productos-card{
    background-color: var(--color-header);
    border: 2px solid var(--color-separador);
    border-radius: 8px;
    width: 15rem;
    text-align: center;
    color: var(--color-separador);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos-image{
    width: 100px;
    height: 8rem;
    border-radius: 8%;
    object-fit: contain;
    background-color: white;
    margin-top: 3px;
    border: 2px solid var(--color-separador);
    justify-self: center;
}

.productos-precio{
    margin-top: auto;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--color-separador);
    
}

.productos-boton{
    border-radius: 8px;
    width: 5rem;
    margin-bottom: 2px;
    margin-top: 2px;
    border-color: var(--color-separador);
    background-color: var(--color-separador);
    color: var(--color-header);
    margin-bottom: 4px;
}
